.flex-container {
  display: grid;
  grid-template-columns: repeat(16, 50px [col-start]);
}

.square {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.hover {
  background-color: black;
}
/* look into making random color later */
