body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.hover-black {
  background-color: black;
}

.clear-button {
  background-color: aquamarine;
  width: 75px;
  height: 50px;
}

.black-button {
  background-color: black;
  color: white;
  width: 75px;
  height: 50px;
}

.rainbow-button {
  background-color: royalblue;
  width: 75px;
  height: 50px;
}

.pick-button {
  background-color: blanchedalmond;
  width: 75px;
  height: 50px;
}

.eraser-button {
  background-color: lightgrey;
  width: 75px;
  height: 50px;
}
.size-display {
  margin: 0px;
}

.btn-container {
  display: flex;
  gap: 10px;
}
