body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.square {
  /* keep border for now to see squares */
  border: 1px solid black;
  box-sizing: border-box;
}

.hover {
  background-color: black;
}
/* look into making random color later */

.clear-button {
  background-color: aquamarine;
  width: 100px;
  height: 50px;
}
